
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script type="text/javascript" src="/js/starterkit/nav.js"></script>
  <script type="text/javascript" src="/js/starterkit/progress.js"></script>
  <script type="text/javascript" src="/js/starterkit/overlay.js"></script>
  </body>
</html>
