{{# authHeaderData }}

<header>
	<div class="container">
		<div class="header-left float-left">
			<a class="backtoAcc" href="#">Back to Account</a>
			{{>starterkit-atoms-logo}}
		</div>
		<div class="header-right float-right">
			<div class="headerWelcomenote">
				<span>Welcome, Tom!</span>
				<h4>123,456 Points</h4>
			</div>
			{{>starterkit-molecules-icon-list}}
		</div>
	</div>	
</header>

{{/ authHeaderData }}