{{# headerData }}

<header>
	<div class="container">
		<div class="header-left float-left">
			{{>starterkit-atoms-logo}}
		</div>
		<div class="header-right float-right">
			{{>starterkit-molecules-icon-list}}
		</div>
	</div>	
</header>

{{/ headerData }}