<section class="c-section">
	{{# sectionTitle}}
	<h2 class="c-section__title">{{ sectionTitle }}</h2>
	{{/ sectionTitle }}

	{{> starterkit-organisms-media-list }}
	{{# textButton }}
	{{> starterkit-atoms-text-button }}
	{{/ textButton }}
	{{# pagination }}
	{{> starterkit-molecules-pagination }}
	{{/ pagination }}
	{{# overlay }}
		{{> starterkit-molecules-overlay }}
	{{/ overlay}}
</section><!--end section-->
