{{> starterkit-organisms-header }}
<main role="main">

	{{> starterkit-organisms-page-header }}

	<div class="l l--two-col">
		<div class="l-main">
			<section class="section">

				{{> starterkit-organisms-text-blob }}

				{{# form }}

				<hr />

				{{> starterkit-organisms-stacked-form }}
				{{/ form }}
			</section>
		</div><!--end .l-main-->

		<div class="l-sidebar">
			{{# featuredPosts }}
			{{> starterkit-organisms-section-media-list }}
			{{/ featuredPosts}}
			{{# featuredPeople }}
			{{> starterkit-organisms-section-media-list }}
			{{/ featuredPeople}}
		</div><!--end .l-sidebar-->

	</div><!--end l--two-col-->

</main>
{{> starterkit-organisms-footer }}
