/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * icon list item
 */

.icon-list{
	li{
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.15px;
		position: relative;
		padding-left: 20px;

		&.icon::after{
			height:21px;
			width:20px;
			position: absolute;
			text-align: center;
			left: 0;
		}
		
		// &.icon-demo::after {
		// 	content: url('../../../../images/starterkit/icon-arrowhead.svg');
		// }
	}
}