/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header {
	padding: 15px 0;
	background-color: #0C2074;

	.header-left {

		.backtoAcc {
			color: #fff;
			padding-left: 14px;
			position: relative;
			font-size: 12px;
			font-weight: 700;
			padding-right: 25px;

			&:after {
				content: "";
				position: absolute;
				width: 0px;
				height: 0px;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-right: 5px solid #fff;
				left: 0;
				top: 3px;
			}
		}

		img {
			max-width: 226px;
		}
	}

	.header-right {

		.headerWelcomenote, .icon-list {
			display: inline-block;
		}

		.headerWelcomenote {
			text-align: right;
			color: #fff;
			padding-right: 20px;

			span {
				font-size: 14px;
			}

			h4 {
				font-size: 16px;
				font-weight: 700;
			}
		}

		.icon-list {
			margin: 0;
			padding-top: 5px;	

			li{
				font-size: 16px;
				line-height: 19px;
				letter-spacing: 0.15px;
				position: relative;
				margin: 0 12px;
				list-style: none;
				display: inline-block;
				padding: 0;

				a {
					font-size: 12px;
					color: #fff;
					padding-top: 30px;
					position: relative;
					display: block;

					img {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						margin: 0 auto;
					}
				}
			}
		}
	}	
}